<!-- <form [formGroup]="profileFormGrp" (ngSubmit)="onSubmit()">
    <label for="first-name"> First name</label>
    <input id="first-name" type="text" formControlName="firstName">
    <label for="last-name"> First name</label>
    <input id="last-name" type="text" formControlName="lastName"> <br>
    <button type="submit" [disabled]="!profileFormGrp.valid">Submit</button>
</form>

 -->













<!-- {{model | json}}
<div [hidden]="submited">

<form #petForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="model.name" name="name" id="name" required>
    </div>
    <div> 
        <label for="species">Specie</label>
        <select [(ngModel)]="model.species" name="species"  id="species" required>
            <option *ngFor="let specie of species" [value]="specie">
                {{specie}}
            </option>
        </select>
    </div>
    <button [disabled]="!petForm.form.valid" type="submit">Submit</button>

</form>
</div>
<div [hidden]="!submited">
    <h3>You submitted</h3>
    <p>Name :{{model.name}}</p>
    <p>Specie :{{model.species}}</p>
    <button (click)="submited=false" type="submit">Edit</button>

</div> -->

<!-- <label for="name">Name :</label>
<input id="name" type="text" [formControl]="nameFormctrl">
{{nameFormctrl.value}}

<button (click)="update()">Reset</button> -->